.user-table {
	border-top: solid 1px black;
	height: 45vh;
	overflow-y: scroll;
}

.user-cards {
	margin: 1rem 1rem;
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	gap: 1rem;
}

.no-result {
	width: 100%;
	display: flex;
	justify-content: center;
	margin-top: 2rem;
}
