.user-table {
	border-top: solid 1px black;
	height: 45vh;
	overflow-y: scroll;
}

.user-cards {
	margin: 1rem 1rem;
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	gap: 1rem;
}

.no-result {
	width: 100%;
	display: flex;
	justify-content: center;
	margin-top: 2rem;
}

.icon-loading {
	color: var(--primary-color);
	font-size: 1.5rem;
	animation: rotation 2s infinite linear;
}

@keyframes rotation {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(-359deg);
	}
}

/* MEDIA QUERIES */

@media (max-width: 1200px) {
	.user-cards {
		grid-template-columns: repeat(4, 1fr);
	}
}
@media (max-width: 768px) {
	.user-cards {
		grid-template-columns: repeat(3, 1fr);
		place-items: center;
	}
}
@media (max-width: 600px) {
	.user-cards {
		grid-template-columns: repeat(2, 1fr);
	}

	.edit {
		justify-content: center;
	}

	.action {
		margin-top: 1rem !important;
		flex-direction: column !important;
		justify-content: center !important;
		align-items: center;
		gap: 0.5rem;
	}
}
@media (max-width: 480px) {
	.user-cards {
		grid-template-columns: repeat(1, 1fr) !important;
	}
}
